# Django
DJANGO_SECRET_KEY=licencias-policia-tdf-rg-comunicaciones
DJANGO_DEBUG=False

# Base de datos
DB_USER=licencias_user
DB_PASSWORD=cambiar-password-seguro

# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Sistema de Licencias <licencias.policiatdf@outlook.com>

# Frontend (URL pública)
FRONTEND_URL=http://licenciasmedicastdf.duckdns.org
